<!DOCTYPE html>
<html class="{% if editmode %}editmode{% else %}public{% endif %}" lang="{{ page.language_code }}">

<head prefix="og: http://ogp.me/ns#">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!--  {% if site.data.touch_icon %}<link rel="apple-touch-icon" href="{{ site.data.touch_icon }}">{% endif %} -->
  <script src="javascripts/modernizr.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <!-- {% stylesheet_link "main.css" %}-->
  <!--[if lt IE 9]>{% stylesheet_link "ie8.css" %}<![endif]-->
  <!-- {% if editmode %}<link rel="stylesheet" href="{{ site.static_asset_host }}/libs/edicy-tools/latest/edicy-tools.css">{% endif %} -->
  <!-- <link rel="stylesheet" href="{{ site.static_asset_host }}/libs/edicy-search/latest/edicy-search.css"> -->
  <title>Kauss arhitektuuribüroo</title>
  <!-- {% include "open-graph" %}-->
  <!-- {% if blog %}{{ blog.rss_link }}{% endif %}-->
  <!-- {{ site.stats_header }} -->
</head>

<body class="front-page">

  <div class="handle">
    <div class="middle">
      <svg width="23" height="16" viewBox="0 0 23 16" xmlns="http://www.w3.org/2000/svg"><title>Menüü</title><g stroke-linecap="square" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M1.5 1h20M1.5 8h20M1.5 15h20"/></g></svg>
    </div>
  </div>
  <nav class="menu-mobile">
    <ul class="mainmenu">
      <li><a href="#projects">TEHTUD TÖÖD</a></li>
      <li><a href="#services">TEENUSED</a></li>
      <li><a href="#people">INIMESED</a></li>
      <li><a href="#news">UUDISED</a></li>
      <li><a href="#contact">KONTAKT</a></li>
      <li class="langmenu"><a href="/en">In English</a></li>
    </ul>
    <div class="contact">
        <a href="https://www.facebook.com/pages/Kauss-Arhitektuur/126370080773371?fref=ts" target="_blank">fb.com/kaussarh</a>
        <br> <a href="mailto:info@kauss.ee">info@kauss.ee</a>
        <br> +372 525 8519
    </div>
  </nav>

  <div class="container">
    <menu>
      <div class="middle">
        <a class="logo" href="/">
          <svg width="107" height="26" viewBox="0 0 107 26" xmlns="http://www.w3.org/2000/svg"><title>Kauss</title><path d="M40.508 4.142h-.102C38.386 1.554 35.384 0 32.07 0c-7.3 0-11.7 5.954-11.7 12.893 0 6.73 4.503 12.788 11.648 12.788 3.417 0 6.266-1.345 8.388-4.037h.102v3.365h4.144V.673h-4.144v3.47zm-7.92 17.71c-5.176 0-7.973-4.507-7.973-9.27 0-4.557 3.106-8.75 7.92-8.75 5.128 0 8.18 3.936 8.18 8.8 0 4.92-2.793 9.22-8.128 9.22zm68.168-11.08c-2.847-1.193-5.643-2.023-5.643-4.247 0-1.555 1.553-2.693 3.003-2.693 1.502 0 2.744 1.19 3.314 2.486l3.468-1.813C103.812 1.967 101.222 0 98.426 0 94.49 0 91.18 2.797 91.18 6.886c0 7.662 10.975 5.8 10.975 11.236 0 2.225-1.707 3.73-3.935 3.73-2.744 0-3.936-1.608-4.97-3.886l-3.677 1.554c1.294 3.83 4.506 6.16 8.595 6.16 4.504 0 8.232-3.313 8.232-7.92 0-4.09-2.795-5.8-5.644-6.99zm-36.643 3.467c0 4.09-.466 7.61-5.49 7.61-5.02 0-5.486-3.52-5.486-7.61V.672h-4.144v14.032c0 6.47 2.435 10.976 9.63 10.976 7.197 0 9.63-4.504 9.63-10.975V.673h-4.14V14.24zm17.975-3.47c-2.85-1.19-5.645-2.02-5.645-4.245 0-1.555 1.554-2.693 3.003-2.693 1.5 0 2.744 1.19 3.313 2.486l3.47-1.813C85.14 1.967 82.55 0 79.756 0c-3.935 0-7.25 2.797-7.25 6.886 0 7.662 10.976 5.8 10.976 11.236 0 2.225-1.708 3.73-3.933 3.73-2.744 0-3.936-1.608-4.97-3.886l-3.677 1.554c1.296 3.83 4.503 6.16 8.594 6.16 4.505 0 8.232-3.313 8.232-7.92 0-4.09-2.798-5.8-5.642-6.99zM22.103.674h-5.488L4.142 14.893V.672H0v24.335h4.142v-3.86l4.528-5.16 6.21 9.02h5.49l-8.582-12.575L22.103.673z" fill="currentColor" fill-rule="evenodd" /></svg>
        </a>
        <ul class="mainmenu">
          <li><a href="#projects">TEHTUD TÖÖD</a></li>
          <li><a href="#services">TEENUSED</a></li>
          <li><a href="#people">INIMESED</a></li>
          <li><a href="#news">UUDISED</a></li>
          <li><a href="#contact">KONTAKT</a></li>
          <li class="langmenu"><a href="/en">In English</a></li>
          <li class="hide">
            <ul>
              <li><a href="https://www.facebook.com/pages/Kauss-Arhitektuur/126370080773371?fref=ts" target="_blank">fb.com/kaussarh</a></li>
              <li><a href="mailto:info@kauss.ee">info@kauss.ee</a></li>
              <li>+372 525 8519</li>
            </ul>
          </li>
        </ul>
      </div>
    </menu>
    <header>
      <div class="bg" style="background-image:url('images/pilt.png');">
          <svg class="right" width="100" height="572" viewBox="0 0 100 572" xmlns="http://www.w3.org/2000/svg"><path d="M50.102 0L0 572h100V0H50.102z" fill="#FFF" fill-rule="evenodd"/></svg>
      </div>
      <h1>Arhitektuur.
        <br>Sisearhitektuur.
        <br>Concept Design</h1>
        <div class="slogan">Kauss Arhitektuur on aastast 2004. Tallinnas ja Tartus tegutsev arhitektuuri- ja disainibüroo. Meie viieliikmelist meeskonda ühendab huvi seostada pragmaatiline ja ratsionaalne kaunite kunstidega.</div>
    </header>
    <div class="slogan-mobile">Kauss Arhitektuur on aastast 2004. Tallinnas ja Tartus tegutsev arhitektuuri- ja disainibüroo. Meie viieliikmelist meeskonda ühendab huvi seostada pragmaatiline ja ratsionaalne kaunite kunstidega.</div>
    <main>
      <section id="projects">
        <h1>Tehtud tööd</h1>
        <hr>
        <ul class="filter clearfix">
          <li><a href="" class="active">Kortermaja</a></li>
          <li><a href="">Eramaja</a></li>
          <li><a href="">Sisearhitektuur</a></li>
          <li><a href="">Avalik hoone</a></li>
          <li><a href="">Installatsioon ja väikevorm</a></li>
          <li><a href="">Konkursitööd</a></li>
          <li class="all"><a href="" class="highlight">Kõik</a></li>
        </ul>
        <div class="projects">
          <div class="box">
            <div class="cover" style="background-image:url('images/cogwheel.jpg');"></div>
            <h3>
              <a href="#">Pealkiri 2</a>
            </h3>
          </div>
          <div class="box">
            <div class="cover" style="background-image:url('images/projekt.png');"></div>
            <h3>
              <a href="#">Pealkiri 2</a>
            </h3>
          </div>
          <div class="box">
            <div class="cover" style="background-image:url('images/pilt.png');"></div>
            <h3>
              <a href="#">Pealkiri 2</a>
            </h3>
          </div>
        </div>
      </section>

      <section id="services">
        <h1>Teenused</h1>
        <hr>
        <div>
          <div class="intro">Meil on projekteerimises üle kümne aasta jagu kogemusi väga erinevate töödega arhitektuuri ja sisearhitektuuri valdkonnas. Alates 2004. aastast oleme taotlenud ca 400? ehitusluba. Omame suuri kogemusi miljööaladele projekterimisel ning fikseeritud
            eelarvega töötamisel.</div>
          <div class="text">
            <h3>ARHITEKTUUR</h3>
            <p>Omame kogemusi nii väikeste kui suurte uushoonete ning rekonstrueeritavate hoonete projektide juhtimisel. Meie meeskonnal on olemas energiatõhusa projekteerimise sertifikaat Passive House Designer (logo). Oleme planeerinud madala energiatarbega
              eramuid ning kavandamisel on nullenergiahoone Palamuse valda.</p>
          </div>
          <div class="text">
            <h3>SISEKUJUNDUS</h3>
            <p>Oleme kujundanud hulgaliselt kaasaegseid kontorikeskkondi. Pakume sisekujundusteenust koos projektijuhtimisega st. koostame kliendi eest eelarve ja otsime erilahendustele teostajad; lõpetame protsessi objekti valmimisel. Vaata meie kujundatud
              kontoreid näiteks NOBLESSNERI kvartalis.</p>
          </div>
          <div class="text">
            <h3>CONCEPT DESIGN</h3>
            <p>Aitame kliente tehningueelsete konsultatsioonide ja analüüsidega. Näiteks analüüsime koos kliendiga, kas planeeritav rendipind on kontori sisseseadmiseks sobiv, kas detailplaneeringuga määratud ehitusõigus võimaldab planeerida investorile sobivat
              hoonet. Meie klientideks on olnud CITYCON, IGLU, NORTAL.</p>
          </div>
        </div>
      </section>

      <section id="people">
        <h1>Inimesed</h1>
        <hr>
        <div class="people">

          <div class="box">
            <div class="cover">
              <img src="images/inimene.png" alt="">
            </div>
            <h3>Urmo Mets</h3>
            <div class="intro">
              Tallinna Tehnikakõrgkool 2005
              <br> Aarhus School of Architecture 2013
              <br> 525 9277 — <a href="mailto:urmo@kauss.ee">urmo@kauss.ee</a>
            </div>
          </div>

          <div class="box">
            <div class="cover">
              <img src="images/inimene.png" alt="">
            </div>

            <h3>
              Kaur Talpsep
            </h3>
            <div class="intro">
              Tallinna Tehnikakõrgkool 2005
              <br> Aarhus School of Architecture 2013
              <br> 525 9277 — <a href="mailto:urmo@kauss.ee">urmo@kauss.ee</a>
            </div>
          </div>

          <div class="box">
            <div class="cover">
              <img src="images/inimene.png" alt="">
            </div>
            <h3>
              Kaur Talpsep
            </h3>
            <div class="intro">
              Tallinna Tehnikakõrgkool 2005
              <br> Aarhus School of Architecture 2013
              <br> 525 9277 — <a href="mailto:urmo@kauss.ee">urmo@kauss.ee</a>
            </div>
          </div>

          <div class="box">
            <div class="cover">
              <img src="images/inimene.png" alt="">
            </div>
            <h3>
              Lauri Eltermaa
            </h3>
            <div class="intro">
              Tallinna Tehnikakõrgkool 2005
              <br> Aarhus School of Architecture 2013
              <br> 525 9277 — <a href="mailto:urmo@kauss.ee">urmo@kauss.ee</a>
            </div>
          </div>

        </div>
      </section>

      <section id="news">
        <h1>Uudised</h1>
        <hr>

  <div class="box-large">
    <div class="cover">
      <img src="images/cover.png" alt="" width="100%">
    </div>
    <article>
      <h3><a href="#">PALAMUSE LASTEAIA ARHITEKTUURIVÕISTLUSE ESIKOHT</a> <time>12/03<time></h3>
      <p>koostöös maastikuarhitektide Anna Liisa Unti ja Robert Kähriga. See oli meile kolmas kord arhitektuurivõistlustel lasteaiaga kätt katsuda. Nagu öeldakse – kolm on kohtu seadus, ja seekord osutusime valituks. 2007–08 sai Jõgeval võidetud ka
        Laiuse seltsimaja ideevõistlus, maja sai ka valmis joonestatud aga kahjuks jäi masu tõttu ehitamata. Nüüd siis on võimalus Jõgevamaale oma panus anda. Kavandatav ca 1950 m2 suurune hoone peab koos päikeseelektrijaamaga saavutama nullenergiahoone
        nõuded.</p>
    </article>
  </div>
<div class="clear"></div>
<div class="article-list clearfix">

  <div class="box">
    <h3><a href="#">KAUSS ARHITEKTIDEGA LIITUS RUUDI TRUUBI</a>  <time>3/10/2014<time></h3>
  </div>

  <div class="box">
    <h3><a href="#">TARTU RAEKOJA LAMMUTUS- JA TEETÄITETÖÖDE KONKURSI TEINE KOHT</a>  <time>3/10/20143<time></h3>
  </div>

  <div class="box">
    <h3><a href="#">RAMBO 28. OSA NÜÜD KINOS!</a>  <time>3/10/2014<time></h3>
  </div>

  <div class="box">
    <h3><a href="#">TARTU RAEKOJA LAMMUTUS- JA TEETÄITETÖÖDE KONKURSI TEINE KOHT</a>  <time>3/10/20143<time></h3>
  </div>

  <div class="box">
    <h3><a href="#">TARTU RAEKOJA LAMMUTUS- JA TEETÄITETÖÖDE KONKURSI TEINE KOHT</a>  <time>3/10/20143<time></h3>
  </div>

</div>


      </section>

      <section id="contact">
        <h2>Kontakt</h2>
        <hr>
        <div class="box">
          <div class="wrap">
            <div class="map">FFF</div>
            <div class="map">GGG</div>
          </div>
          <div class="info">
            <h3>KAUSS ARHITEKTUUR OÜ</h3>
            Reg kood 110822391
            <br>
            <a href="mailto:info@kauss.ee">info@kauss.ee</a>
            <br>
            <h3>TALLINN</h3>
            Niine 11, 10414 Tallinn
            <br> Tel 5690 8969
            <br>
            <h3>TARTU</h3>
            Kastani 42, 50410 Tartu
            <br> Tel 525 9277
          </div>
        </div>

        <div class="clear"></div>
      </section>

    </main>
    <!-- {% include "footer" %}-->
  </div>

  <!-- {% include "javascripts" %}-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascripts/scripts.js"></script>
</body>

</html>
