%commontext {
  font: 200 16px/1.75 $font;
  @include query($mobile-1) {
    font: 200 14px/1.43 $font;
  }
}

body {
  color: $primary;
  @extend %commontext;
}

h1, h2 {
  font: 600 50px/1.36 $font;
  @include query($tablet-1) {
    font-size: 45px;
  }
  @include query($mobile-1) {
    font-size: 24px;
  }
}

h3, h4, h5, h6 {
  font: 400 16px/1.5 $font;
  text-transform: uppercase;
  letter-spacing: 3.56px;
  margin: 30px 0 7px 0;
}

header h1 {
  font: 400 32px/1.56 $font;
  @include query($mobile-1) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.text h3 {
  margin: 30px 0 9px 0;
}
#people h3 {margin-top: 21px;}
#news h3, #projects h3, #services h3 {margin-top: 0;}

#contact {
  line-height: 24px;
}

.active {
  font-weight: 600;
}

a, a:visited {
  color: $primary;
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
}

main a {
  color: $link-color;
  &:hover {
    border-bottom: 1px solid $link-color;
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
  }
}

menu {
  font-size: 14px;
  letter-spacing: 3.12px;
  line-height: 28px;
  @include query($tablet-1) {
    letter-spacing: 2px;
    line-height: 28px;
  }
}

.slogan {
  @include query($tablet-1) {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
  }
}

.filter {
  li a {opacity: 0.6}
  li a.active {opacity: 1;}
  @include query($tablet-1) {
    font-size: 14px;
    line-height: 19px;
  }
}

hr {
  background: $primary;
  border: 0;
  height: 6px;
  color: $primary;
  text-align: left;
  margin-left: 0;
  width: $col-two;
  @include query($tablet-1) {
    height: 5px;
    width: 100%;
  }
  @include query($mobile-1) {
    height: 3px;
  }
}

hr + div {
  margin-top: 50px;
  @include query($mobile-1) {
    margin-top: 25px;
  }
}

hr + ul {
  margin: 35px 0 40px 0;
  @include query($tablet-1) {
    margin: 12px 0 29px 0;
  }
}

#news, #contact {
  hr {
    width: $col-one;
    @include query($tablet-1) {
      width: 100%;
    }
  }
}

time {
  font-weight: 200;
  color: $secondary;
}
