html,
body {
  @extend %border-box;
  height: 100%;
  width: 100%;
}
body {
  transition: left 0.3s ease 0s;
  position: relative;
  overflow-x: none;
  left: 0;
  &.slide {
    left: -140px;
  }
}

.container {
  overflow:hidden;
}

menu,
section {
  margin-left: 50px;
  margin-right: 50px;
  @include query-min($desktop-max) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
  }
  @include query($tablet-1) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @include query($mobile-1) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
menu {
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 60px;
  @include query($mobile-1) {
    height: auto;
    padding: 0;
    position: absolute;
    z-index: 100;
  }
  .mainmenu {
    @include query($mobile-1) {
      display: none;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    text-align: right;
    height: 100%;
  }
  li {
    display: inline;
    padding-left: 26/1200*100%;
    white-space: nowrap;
  }
  .contact {
    display: none;
  }
}

.logo {
  color: $primary;
  float: left;
  @include query($tablet-1) {
    svg {width: 106px;}
  }
  @include query($mobile-1) {
    color: #fff;
    svg {
      color: #fff;
      width: 80px;
    }
  }
}
.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.menu-mobile {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25em;
  display: none;
  ul {
    margin:  20px;
    padding: 0;
  }
  li {
    display: block;
    color: $primary;
    list-style: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    letter-spacing: 3.65px;
    padding: 10px 0;
    a, a:visited {opacity: 1;}
    a:hover {opacity: 0.6;}
  }
  .contact {
    color: $secondary;
    margin: 20px;
    line-height: 1.8em;
    a {color: $secondary;}
  }
  @include query($mobile-1) {
    display: block;
    position: fixed;
    padding: 0;
    width: 140px;
    right: -140px;
    transition: right 0.3s ease 0s;
    overflow-y: auto;
    z-index: 500;
    &.open {right: 0;}
  }
}

.handle {
  color: #fff;
  line-height: 8px;
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  z-index: 999;
  transition: all 0.3s ease 0s;
  @include query($mobile-1) {
    display: block;
  }
  &.open {
    color: #fff;
    right: 180px;
  }
}

header {
  @extend %border-box;
  @extend %clearfix;
  width: 100%;
  position: relative;
  height: 572px;
  @include query($tablet-1) {
    height: 367px;
  }
  @include query($mobile-1) {
    height: 100%;
    min-height: 286px;
  }
  .bg {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    svg {
      right: 0;
      @include query($tablet-1) {
        right: -60px;
      }
      @include query($mobile-1) {
        display: none;
      }
    }
    @include query($mobile-1) {
      height: 286px;
    }
    img {
      width: 100%;
      overflow-x: hidden;
    }
  }

  h1 {
    @extend %border-box;
    color: #fff;
    position: relative;
    z-index: 1;
    width: 100%;
    left: 50px;
    top: 50px;
    @include query($tablet-1) {
      left: 30px;
      top: 30px;
    }
    @include query($mobile-1) {
      left: 20px;
      top: 178px;
    }
  }
  .slogan {
    color: #fff;
    left: 50px;
    width: 47%;
    bottom: 50px;
    height: auto;
    position: absolute;
    @include query($tablet-1) {
      width: 68%;
      left: 30px;
      bottom: 30px;
    }
    @include query($mobile-1) {
      display: none;
    }
  }
}

.slogan-mobile {
  display: none;
  @include query($mobile-1) {
    display: block;
    padding: 20px 20px 0 20px;
  }
}

#projects {
  @include query($mobile-1) {
    hr {display: none;}
  }
}

.filter {
  line-height: 1.75em;
  li {
    display: inline-block;
    margin-right: 16px;
    @include query($mobile-1) {
      display: block;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      line-height: 15px;
      padding: 10px 0;
      &:first-child {border-top: 3px solid #000;}
    }
  &.all {
    @include query($mobile-1) {
      border-bottom: 3px solid #000;
      .highlight {border: none; padding: 0; font-weight: 200;}
    }
  }
  }

}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
}

%box {
  width: $col-one;
  margin: 0 0 30px 0;
  position: relative;
  @include query($tablet-1) {
    width: $tablet-col-one;
  }
  @include query($mobile-1) {
    width: 100%;
  }
}

.people {
   @extend %flex;
   line-height: 1.5em;
   .box {
     @extend %box;
   }
   .cover {
     img {width: 100%;}
   }
   .intro {
     padding-bottom: 27px;
   }
 }

.projects {
  @extend %flex;
  .box {
    @extend %box;
    height: 250px;
    @include query($desktop-0) {height: 230px;}
    @include query($desktop-1) {height: 200px;}
    @include query($tablet-1) {height: 280px;}
    @include query($tablet-2) {height: 250px;}
    @include query($mobile-1) {height: 250px;}
    @include query($mobile-2) {height: 180px;}
  }
  .cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .cover2 {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 57.6% 0 0 0;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  h3 {
    // @extend %border-box;
    opacity: 0;
    width: 90%;
    height: 90%;
    padding: 5%;
    background-color: rgba(255,255,255,0.9);
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}

#services {
  @extend %clearfix;
  div {margin-bottom: 30px;}
  .text {
    width: $col-one;
    margin-right: $gap-percent;
    float: left;
    &:last-child {margin-right: 0;}
    @include query($tablet-1) {
      width: $tablet-col-one;
      &:nth-child(2n+0) {margin-right: 0;}
    }
    @include query($mobile-1) {
      width: 100%;
      margin-right: 0;
    }
  }
  .intro {
    width: 100%;
    @include query($tablet-1) {
      width: $tablet-col-one;
      margin-right: $gap-percent;
      float: left;
    }
    @include query($mobile-1) {
      width: 100%;
      margin-right: 0;
    }
  }
}

#news {
  .box, .box-large {
    margin-bottom: 30px;
    padding: 0;
  }
  .box-large {
    .cover {
      float: right;
      margin-top: -56px;
      width: $col-two;
      img {max-width: 100%;}
      @include query($tablet-1) {
        margin-top: 0;
        width: $tablet-col-one;
      }
      @include query($mobile-1) {
        display: none;
      }
    }
    article {
      @extend %clearfix;
      width: $col-one;
      @include query($tablet-1) {
        width: $tablet-col-one;
      }
      @include query($mobile-1) {
        width: 100%;
      }
    }
  }
  .article-list  {
    margin-top: 20px;
  }
  .box {
    width: $col-one;
    float: left;
    margin-right: $gap-percent;
    @include query($tablet-1) {
      width: $tablet-col-one;
    }
    @include query($mobile-1) {
      width: 100%;
    }
  }
  .box:nth-child(3n+3) {
    margin-right: 0;
  @include query($tablet-1) {
    margin-right: $gap-percent;
  }
}
  .box:nth-child(2n+2) {
    @include query($tablet-1) {
      margin-right: 0;
    }
  }
  .box:nth-child(1n+1) {
    @include query($mobile-1) {
      margin-right: 0;
    }
  }
  article p {
    @include query($mobile-1) {display: none;}
  }
  }


#contact {
  .box {
    width: 100%;
  }
  .info {
    width: $col-one;
    @include query($mobile-1) {
      width: $tablet-col-one;
    }
  }
  .wrap {
    vertical-align: top;
    height: 100%;
    margin-top: -56px;
    float: right;
    width: $col-two;
    @include query($tablet-1) {
      margin-top: 0;
      width: $tablet-col-one;
    }
    @include query($mobile-1) {
      display: none;
    }
  }
  .map {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    @include query($tablet-1) {
      width: 100%;
      &:last-child {display:none;}
    }
    @include query($mobile-1) {
      display: none;
    }
  }
}

#projects,
#people {
  margin-top: 60px;
  @include query($mobile-1) {
    margin-top: 25px;
  }
}
#news, #contact {margin-top: 30px;}
section:last-child {margin-bottom: 40px;}
#services {
  margin-top: 45px;
  @include query($mobile-1) {
    margin-top: 7px;
  }
}
