.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.clear {
  clear: both;
}

%border-box {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.middle_mobile {
  top: inherit;
  transform: none;
  @include query($mobile-1) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.highlight {
  border: 1px solid $secondary;
  border-radius: 3px;
  padding: 0.1em 0.6em;
  font-weight: 400;
}

.clearfix, %clearfix {
  overflow: hidden;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 1px;
  line-height: 1px;
  visibility: hidden;
}

.addbutton {
  margin: 0 10px;
}
