$primary: #000;
$secondary: #777;
$link-color: #777;
// padding
$x: 20px;
// fonts
$font: 'Avenir Next', sans-serif;

// grid elements
$inner: 1160;
$gap: 30;
$gap-percent: $gap/$inner*100%;
$col-one: ($inner - 2*$gap)/3/$inner*100%;
$col-two: (2*($inner - 2*$gap)/3 + $gap)/$inner*100%;
$tablet-col-one: ($inner - 2*$gap)/2/$inner*100%;

$aspect: 200/1100;

// media queries
$desktop-max: 1500px;
$desktop-0: 1300px;
$desktop-1: 1200px;
$desktop-2: 1100px;
$tablet-1: 960px;
$tablet-2: 800px;
$mobile-1: 620px;
$mobile-2: 320px;

// MEDIA QUERY
@mixin query($value: $tablet-1) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin query-min($value: $tablet-1) {
  @media screen and (min-width: $value) {
    @content;
  }
}
