@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold; }

pre {
  white-space: normal; }

a img {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong, b, em {
  font-weight: bold;
  font-style: inherit;
  color: inherit; }

i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit; }

/* clear */
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

.clear {
  display: block;
  zoom: 1; }

* html .clear {
  height: 1px; }

.left {
  float: left; }

.right {
  float: right; }

hr {
  margin: 0;
  padding: 0; }

body {
  font: 200 16px/1.75 "Avenir Next", sans-serif; }
  @media screen and (max-width: 620px) {
    body {
      font: 200 14px/1.43 "Avenir Next", sans-serif; } }

body {
  color: #000; }

h1, h2 {
  font: 600 50px/1.36 "Avenir Next", sans-serif; }
  @media screen and (max-width: 960px) {
    h1, h2 {
      font-size: 45px; } }
  @media screen and (max-width: 620px) {
    h1, h2 {
      font-size: 24px; } }

h3, h4, h5, h6 {
  font: 400 16px/1.5 "Avenir Next", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.56px;
  margin: 30px 0 7px 0; }

header h1 {
  font: 400 32px/1.56 "Avenir Next", sans-serif; }
  @media screen and (max-width: 620px) {
    header h1 {
      font-size: 24px;
      line-height: 1.25; } }

.text h3 {
  margin: 30px 0 9px 0; }

#people h3 {
  margin-top: 21px; }

#news h3, #projects h3, #services h3 {
  margin-top: 0; }

#contact {
  line-height: 24px; }

.active {
  font-weight: 600; }

a, a:visited {
  color: #000;
  text-decoration: none; }
  a:hover, a:visited:hover {
    opacity: 0.5; }

main a {
  color: #777; }
  main a:hover {
    border-bottom: 1px solid #777;
    opacity: 1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit; }

menu {
  font-size: 14px;
  letter-spacing: 3.12px;
  line-height: 28px; }
  @media screen and (max-width: 960px) {
    menu {
      letter-spacing: 2px;
      line-height: 28px; } }

@media screen and (max-width: 960px) {
  .slogan {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px; } }

.filter li a {
  opacity: 0.6; }
.filter li a.active {
  opacity: 1; }
@media screen and (max-width: 960px) {
  .filter {
    font-size: 14px;
    line-height: 19px; } }

hr {
  background: #000;
  border: 0;
  height: 6px;
  color: #000;
  text-align: left;
  margin-left: 0;
  width: 65.8045977011%; }
  @media screen and (max-width: 960px) {
    hr {
      height: 5px;
      width: 100%; } }
  @media screen and (max-width: 620px) {
    hr {
      height: 3px; } }

hr + div {
  margin-top: 50px; }
  @media screen and (max-width: 620px) {
    hr + div {
      margin-top: 25px; } }

hr + ul {
  margin: 35px 0 40px 0; }
  @media screen and (max-width: 960px) {
    hr + ul {
      margin: 12px 0 29px 0; } }

#news hr, #contact hr {
  width: 31.6091954023%; }
  @media screen and (max-width: 960px) {
    #news hr, #contact hr {
      width: 100%; } }

time {
  font-weight: 200;
  color: #777; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  -webkit-transition: left 0.3s ease 0s;
          transition: left 0.3s ease 0s;
  position: relative;
  overflow-x: none;
  left: 0; }
  body.slide {
    left: -140px; }

.container {
  overflow: hidden; }

menu,
section {
  margin-left: 50px;
  margin-right: 50px; }
  @media screen and (min-width: 1500px) {
    menu,
    section {
      margin-left: auto;
      margin-right: auto;
      max-width: 1400px; } }
  @media screen and (max-width: 960px) {
    menu,
    section {
      margin-left: 30px;
      margin-right: 30px; } }
  @media screen and (max-width: 620px) {
    menu,
    section {
      margin-left: 20px;
      margin-right: 20px; } }

menu {
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 60px; }
  @media screen and (max-width: 620px) {
    menu {
      height: auto;
      padding: 0;
      position: absolute;
      z-index: 100; } }
  @media screen and (max-width: 620px) {
    menu .mainmenu {
      display: none; } }
  menu ul {
    padding: 0;
    margin: 0;
    text-align: right;
    height: 100%; }
  menu li {
    display: inline;
    padding-left: 2.1666666667%;
    white-space: nowrap; }
  menu .contact {
    display: none; }

.logo {
  color: #000;
  float: left; }
  @media screen and (max-width: 960px) {
    .logo svg {
      width: 106px; } }
  @media screen and (max-width: 620px) {
    .logo {
      color: #fff; }
      .logo svg {
        color: #fff;
        width: 80px; } }

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.menu-mobile {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25em;
  display: none; }
  .menu-mobile ul {
    margin: 20px;
    padding: 0; }
  .menu-mobile li {
    display: block;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 3.65px;
    padding: 10px 0; }
    .menu-mobile li a, .menu-mobile li a:visited {
      opacity: 1; }
    .menu-mobile li a:hover {
      opacity: 0.6; }
  .menu-mobile .contact {
    color: #777;
    margin: 20px;
    line-height: 1.8em; }
    .menu-mobile .contact a  {
      color: #777; }
  @media screen and (max-width: 620px) {
    .menu-mobile {
      display: block;
      position: fixed;
      padding: 0;
      width: 140px;
      right: -140px;
      -webkit-transition: right 0.3s ease 0s;
              transition: right 0.3s ease 0s;
      overflow-y: auto;
      z-index: 500; }
      .menu-mobile.open {
        right: 0; } }

.handle {
  color: #fff;
  line-height: 8px;
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
  @media screen and (max-width: 620px) {
    .handle {
      display: block; } }
  .handle.open {
    color: #fff;
    right: 180px; }

header {
  width: 100%;
  position: relative;
  height: 572px; }
  @media screen and (max-width: 960px) {
    header {
      height: 367px; } }
  @media screen and (max-width: 620px) {
    header {
      height: 100%;
      min-height: 286px; } }
  header .bg {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    header .bg svg {
      right: 0; }
      @media screen and (max-width: 960px) {
        header .bg svg {
          right: -60px; } }
      @media screen and (max-width: 620px) {
        header .bg svg {
          display: none; } }
    @media screen and (max-width: 620px) {
      header .bg {
        height: 286px; } }
    header .bg img {
      width: 100%;
      overflow-x: hidden; }
  header h1 {
    color: #fff;
    position: relative;
    z-index: 1;
    width: 100%;
    left: 50px;
    top: 50px; }
    @media screen and (max-width: 960px) {
      header h1 {
        left: 30px;
        top: 30px; } }
    @media screen and (max-width: 620px) {
      header h1 {
        left: 20px;
        top: 178px; } }
  header .slogan {
    color: #fff;
    left: 50px;
    width: 47%;
    bottom: 50px;
    height: auto;
    position: absolute; }
    @media screen and (max-width: 960px) {
      header .slogan {
        width: 68%;
        left: 30px;
        bottom: 30px; } }
    @media screen and (max-width: 620px) {
      header .slogan {
        display: none; } }

.slogan-mobile {
  display: none; }
  @media screen and (max-width: 620px) {
    .slogan-mobile {
      display: block;
      padding: 20px 20px 0 20px; } }

@media screen and (max-width: 620px) {
  #projects hr {
    display: none; } }

.filter {
  line-height: 1.75em; }
  .filter li {
    display: inline-block;
    margin-right: 16px; }
    @media screen and (max-width: 620px) {
      .filter li {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 15px;
        padding: 10px 0; }
        .filter li:first-child {
          border-top: 3px solid #000; } }
    @media screen and (max-width: 620px) {
      .filter li.all {
        border-bottom: 3px solid #000; }
        .filter li.all .highlight {
          border: none;
          padding: 0;
          font-weight: 200; } }

.people, .projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px; }

.people .box, .projects .box {
  width: 31.6091954023%;
  margin: 0 0 30px 0;
  position: relative; }
  @media screen and (max-width: 960px) {
    .people .box, .projects .box {
      width: 47.4137931034%; } }
  @media screen and (max-width: 620px) {
    .people .box, .projects .box {
      width: 100%; } }

.people {
  line-height: 1.5em; }
  .people .cover img {
    width: 100%; }
  .people .intro {
    padding-bottom: 27px; }

.projects .box {
  height: 250px; }
  @media screen and (max-width: 1300px) {
    .projects .box {
      height: 230px; } }
  @media screen and (max-width: 1200px) {
    .projects .box {
      height: 200px; } }
  @media screen and (max-width: 960px) {
    .projects .box {
      height: 280px; } }
  @media screen and (max-width: 800px) {
    .projects .box {
      height: 250px; } }
  @media screen and (max-width: 620px) {
    .projects .box {
      height: 250px; } }
  @media screen and (max-width: 320px) {
    .projects .box {
      height: 180px; } }
.projects .cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; }
.projects .cover2 {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 57.6% 0 0 0; }
  .projects .cover2 img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
.projects h3 {
  opacity: 0;
  width: 90%;
  height: 90%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
  .projects h3:hover {
    opacity: 1; }

#services div {
  margin-bottom: 30px; }
#services .text {
  width: 31.6091954023%;
  margin-right: 2.5862068966%;
  float: left; }
  #services .text:last-child {
    margin-right: 0; }
  @media screen and (max-width: 960px) {
    #services .text {
      width: 47.4137931034%; }
      #services .text:nth-child(2n+0) {
        margin-right: 0; } }
  @media screen and (max-width: 620px) {
    #services .text {
      width: 100%;
      margin-right: 0; } }
#services .intro {
  width: 100%; }
  @media screen and (max-width: 960px) {
    #services .intro {
      width: 47.4137931034%;
      margin-right: 2.5862068966%;
      float: left; } }
  @media screen and (max-width: 620px) {
    #services .intro {
      width: 100%;
      margin-right: 0; } }

#news .box, #news .box-large {
  margin-bottom: 30px;
  padding: 0; }
#news .box-large .cover {
  float: right;
  margin-top: -56px;
  width: 65.8045977011%; }
  #news .box-large .cover img {
    max-width: 100%; }
  @media screen and (max-width: 960px) {
    #news .box-large .cover {
      margin-top: 0;
      width: 47.4137931034%; } }
  @media screen and (max-width: 620px) {
    #news .box-large .cover {
      display: none; } }
#news .box-large article {
  width: 31.6091954023%; }
  @media screen and (max-width: 960px) {
    #news .box-large article {
      width: 47.4137931034%; } }
  @media screen and (max-width: 620px) {
    #news .box-large article {
      width: 100%; } }
#news .article-list {
  margin-top: 20px; }
#news .box {
  width: 31.6091954023%;
  float: left;
  margin-right: 2.5862068966%; }
  @media screen and (max-width: 960px) {
    #news .box {
      width: 47.4137931034%; } }
  @media screen and (max-width: 620px) {
    #news .box {
      width: 100%; } }
#news .box:nth-child(3n+3) {
  margin-right: 0; }
  @media screen and (max-width: 960px) {
    #news .box:nth-child(3n+3) {
      margin-right: 2.5862068966%; } }
@media screen and (max-width: 960px) {
  #news .box:nth-child(2n+2) {
    margin-right: 0; } }
@media screen and (max-width: 620px) {
  #news .box:nth-child(1n+1) {
    margin-right: 0; } }
@media screen and (max-width: 620px) {
  #news article p {
    display: none; } }

#contact .box {
  width: 100%; }
#contact .info {
  width: 31.6091954023%; }
  @media screen and (max-width: 620px) {
    #contact .info {
      width: 47.4137931034%; } }
#contact .wrap {
  vertical-align: top;
  height: 100%;
  margin-top: -56px;
  float: right;
  width: 65.8045977011%; }
  @media screen and (max-width: 960px) {
    #contact .wrap {
      margin-top: 0;
      width: 47.4137931034%; } }
  @media screen and (max-width: 620px) {
    #contact .wrap {
      display: none; } }
#contact .map {
  display: block;
  float: left;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 960px) {
    #contact .map {
      width: 100%; }
      #contact .map:last-child {
        display: none; } }
  @media screen and (max-width: 620px) {
    #contact .map {
      display: none; } }

#projects,
#people {
  margin-top: 60px; }
  @media screen and (max-width: 620px) {
    #projects,
    #people {
      margin-top: 25px; } }

#news, #contact {
  margin-top: 30px; }

section:last-child {
  margin-bottom: 40px; }

#services {
  margin-top: 45px; }
  @media screen and (max-width: 620px) {
    #services {
      margin-top: 7px; } }

.hide {
  display: none; }

.hidden {
  visibility: hidden; }

.clear {
  clear: both; }

html,
body, header, header h1 {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.middle_mobile {
  top: inherit;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }
  @media screen and (max-width: 620px) {
    .middle_mobile {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

.highlight {
  border: 1px solid #777;
  border-radius: 3px;
  padding: 0.1em 0.6em;
  font-weight: 400; }

.clearfix, header, #services, #news .box-large article {
  overflow: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 1px;
  line-height: 1px;
  visibility: hidden; }

.addbutton {
  margin: 0 10px; }
